.App {
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.load-party-button {
  background: black;
  color: rgb(255, 255, 255);
  font-size: 20px;
  width: 200px;
}

.waiting {
  margin-top: 20px;  
}

.pizza-container {
  width: 94vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pizza-title {
  width: auto;
  margin:  30px 0 20px;
  text-align: center;
  font-size: 1.2em;

}

.circle {
  height: 300px;
  width: 300px;

  background-color: red;

  border: 10px solid rgb(255, 231, 151);;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.cut {
  height: 300px;
  width: 0;
  margin: 1px 0 1px -2px;
  border: 1px solid rgb(189, 173, 122);;
  transform: rotate(90deg)
}

.description {
  margin-top: 30px;
  font-size: .9em;
}


table {
  margin-top: 15px;
  border-collapse: collapse;
}

th, td {
  padding: 4px;
  border: 1px solid black;
}
.pay {
  width: 100px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: azure;
  font-size: 25px;
}

.pay:hover {
  background-color: rgb(66, 248, 248);
  border: 1px solid rgb(255, 255, 255)
}

.paid {
  width: 100px;
  border: 1px solid rgb(133, 133, 133);
  border-radius: 10px;
  background-color: rgb(206, 206, 206);
  font-size: 25px;
  color: rgb(133, 133, 133);
}